@font-face {
    font-family: socialMono;
    src: url(/fonts/abc-social-mono-regular-woff-2-a87e92.woff2);
}
@font-face {
    font-family: socialMono-Regular;
    src: url(/fonts/ABCSocialMono-Regular.woff2);
}
@font-face {
    font-family: Futura-Bold;
    src: url(/fonts/Futura-Bold.woff2);
}
@font-face {
    font-family: HelveticaNowText-Regular;
    src: url(/fonts/HelveticaNowText-Regular.woff2);
}
@font-face {
    font-family: mem1;
    src: url(/fonts/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTS-muw.woff2);
}
@font-face {
    font-family: mem2;
    src: url(/fonts/memvYaGs126MiZpBA-UvWbX2vVnXBbObj2OVTSGmu1aB.woff2);
}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

*::selection {
    color: white;
    background-color: black;
}

html, body {
    height: 100%;
    width: 100%;
}


/* ---------page1--------- */
#page1 {
    position: relative;
    min-height: 100vh;
    width: 100%;
    padding: 0px 1vw;
    padding-top: 25vh;
}

#page1 h1 {
    font-size: 15.3vw;
    text-transform: uppercase;
    font-family: Futura-Bold;
    line-height: 12vw;
    letter-spacing: -5px;
    text-align: center;
    margin-top: 1vw;
}

#video-container {
    height: 100vh;
    width: 100%;
    margin-top: 1.5vw;
}

#video-container video {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#video-container #play {
    height: 10vw;
    width: 10vw;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    background-color: black;
    color: #fff;
    font-family: Futura-Bold;
    font-size: 1.3vw;
    border-radius: 50%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%) scale(0);
}


/* --------Margin------- */
#margin {
    border-bottom: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 5vw 1vw 0;
}

#margin h5 {
    text-transform: uppercase;
    font-weight: normal;
    font-size: 10px;
    margin-bottom: 2px;
}



/* --------------Page 2-------------- */
#page2 {
    height: 100vh;
    width: 100%;
    padding: 1vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#page2 .elem {
    height: 100%;
    width: 32.5%;
    background-color: rebeccapurple;
}

#page2 .elem img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}